{{>header}}
<div>
    <h1>MockTTP dashboard</h1>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/register/pws">Register a PWS</a>
                </li>
                <li>
                    Manage keys
                </li>
                <li>
                    Logout
                </li>
            </ul>
        </nav>
    </div>
</div>
{{>footer}}