{{>header}}
<div>
    <h2>Add a new PWS</h2>
    <form action="/register/pws" method="post">
        {{#error}}
            <div class="error">
                {{error}}
            </div>
        {{/error}}
        <div class="field">
            <label for="name">
                Name of the service:
            </label>

            <input id="name" name="name" type="text" autocomplete="off" placeholder="Your Service" {{#values.name}}
                   value="{{values.name}}" {{/values.name}}>
        </div>
        <div class="field">
            <label for="description">
                Description:
            </label>
            <textarea id="description" name="description" placeholder="Short description of the service">{{#values.description}}{{values.description}}{{/values.description}}</textarea>
        </div>
        <div class="field">
            <label for="url">
                Base url:
            </label>
            <input id="url" name="baseUrl" type="url" autocomplete="off" placeholder="https://example.com" {{#values.baseUrl}}
                   value="{{values.baseUrl}}" {{/values.baseUrl}}>
        </div>
        <div class="field">
            <label for="callback">
                Callback URI:
            </label>
            <input id="callback" name="callback" type="text" autocomplete="off"
                   placeholder="/dowcs/authorize" {{#values.callback}}
                   value="{{values.callback}}" {{/values.callback}}>
        </div>
        <div class="field">
            <label for="pubkey">
                Public Key (PKCS8):
            </label>
            <textarea id="pubkey" name="pubkey" placeholder="A PKCS#8 formatted public key">{{#values.pubkey}}{{values.pubkey}}{{/values.pubkey}}</textarea>
        </div>

        <div style="margin-top: 20px" class="field">
            <button>Add service</button>
        </div>
    </form>
</div>

{{>footer}}