{{>header}}
<div>
    <h1>MockTTP dashboard</h1>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/connect/ttp">Connect a TTP</a>
                </li>
                <li>
                    Create encrypted Post
                </li>
                <li>
                    Create Post
                </li>
                <li>
                    Logout
                </li>
            </ul>
        </nav>
    </div>
</div>
{{>footer}}